html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(37, 37, 37);
}

header{
    background-color: rgb(202, 189, 0);
    display: flex;
    flex-wrap: wrap;
}

#carnes{
    border: solid #000;
    border-radius: 10px;
    display: inline-block;
    width: 1100px;
    margin: 10px;
}

.imagem{
    width: 50px;
}

.footer{
    height: 70px;
    background-color: #302f2f;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#3ba0ff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}